{% extends 'base.html.twig' %}

{% block title %}reward calculator{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron my-5">
            <h1 class="display-3">Calculate voting rewards</h1>
            <p class="lead">
                Calculate your potentional voting rewards simply by entering your address, we will work out the rest.
            </p>
            <hr class="my-4">
            <h2>Want to earn more Lisk voting rewards?</h2>
            <p>
                Our calculator does not only focus on what you can earn today by voting currently active delegates, it also shows the rewards you would gain if you would vote the highest sharing delegates. It can be much more rewarding to vote for higher sharing pools in the long run.
            </p>

            <form action="{{ path('rewards_calculator') }}" method="post">
                <div class="form-group row">
                    <label for="inputAddress" class="col-sm-2 col-form-label">Lisk address</label>
                    <div class="col-sm-10">
                        <input {% if app.request.request.get('address') %} value="{{ app.request.request.get('address') }}" {% endif %} type="text" name="address" class="form-control form-control-lg" id="inputAddress" placeholder="17682500294941700766L">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"><strong>Exclude</strong> these pools</label>
                    <div class="col-sm-10" style="padding-top: 7px;">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="exclude_pools[]" value="Lisk Elite" {% if "Lisk Elite" in app.request.request.get('exclude_pools')  %} checked {% endif %}> Lisk Elite
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="exclude_pools[]" value="GDT" {% if "GDT" in app.request.request.get('exclude_pools') %} checked {% endif %}> GDT
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="exclude_pools[]" value="SHW" {% if "SHW" in app.request.request.get('exclude_pools') %} checked {% endif %}> Sherwood
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="exclude_pools[]" value="Dutch Pool" {% if "Dutch Pool" in app.request.request.get('exclude_pools') %} checked {% endif %}> Dutch Pool
                            </label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-info btn-lg" style="cursor: pointer;">Leeeeet's GOOOOOOOO!!1!!!</button>
            </form>

            <div class="alert alert-warning mt-5" role="alert">
                The list of delegates may be incomplete. Are you a delegate and want to get listed? Contact <strong>goforlisk</strong> on lisk.chat or <strong>wtfbbq89</strong> on Reddit!
            </div>

            <div class="alert alert-danger mt-3" role="alert">
                This tool is still being worked on. Do you find errors or want to suggest improvements? Contact <strong>goforlisk</strong> on lisk.chat or <strong>wtfbbq89</strong> on Reddit!
            </div>

            <div class="alert alert-success mt-3" role="alert">
                <strong>Like this tool?</strong> Vote <strong>goforlisk</strong>! Sharing 85%, keeping 5% for funding promising projects, active developer and open sourcing all tools!
            </div>

            {% if forgeStats is not empty %}
                <h2 class="mt-5">Calculation results</h2>
                <p>
                    Below you will find an overview of your current voting situation. After optimizing your votes you may be able to earn more Lisk for your votes.
                </p>

                <table class="table w-50 table-striped table-bordered">
                    <tr>
                        <td>
                            Current situation
                        </td>
                        <td>
                            <strong>{{ totalRewards }}</strong> LISK/month
                        </td>
                    </tr>
                    {#
                    <tr>
                        <td>
                            Optimized situation
                        </td>
                        <td>
                            <strong>{{ totalRewards }}</strong> LISK/month
                        </td>
                    </tr>
                    #}
                    <tr>
                        <td>
                            Ideal situation
                        </td>
                        <td>
                            <strong>{{ idealRewards }}</strong> LISK/month
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Used votes
                        </td>
                        <td>
                            <strong>{{ forgeStats | length }}/101</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Your balance
                        </td>
                        <td>
                            <strong>{{ ourBalance }}</strong> LISK
                        </td>
                    </tr>
                </table>

                <p>
                    Your forging rewards could improve from <strong>{{ totalRewards | round(2) }}LSK</strong> to <strong>{{ idealRewards | round(2) }}LSK</strong> by changing your votes. That is <strong>{{ ((idealRewards / totalRewards) * 100) | round(2) }}% of what you earn today</strong>!<br />
                    Unfortunately not all delegates in the ideal situation are currently forging. Even as long as these delegates are not forging you would still earn <strong>{{ idealRewardsCurrentlyForging | round(2) }}LSK</strong> when following this voting advise anyway.
                </p>
            {% endif %}
        </div>

        {% if forgeStats is not empty %}
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#current" role="tab" data-toggle="tab">Current</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#ideal" role="tab" data-toggle="tab">Ideal</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="current" role="tabpanel">
                    <h3 class="mt-3">Current situation</h3>
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Voted</th>
                            <th scope="col">Delegate</th>
                            <th scope="col">Rank</th>
                            <th scope="col">Pool</th>
                            <th scope="col">Vote share</th>
                            <th scope="col">Monthly rewards</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for stat in forgeStats %}
                            <tr>
                                <td scope="row">{{ loop.index }}</td>
                                <td scope="row">
                                    <label class="custom-control custom-checkbox">
                                        <input disabled {% if stat.delegate in votedDelegates %}checked{% endif %} type="checkbox" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </td>
                                <td scope="row">{{ stat.delegate }}</td>
                                <td scope="row">{{ stat.pools | join(', ') }}</td>
                                <td scope="row">{{ stat.rank }}</td>
                                <td scope="row d-flex justify-content-between">
                                    {% if stat.share != stat.share_real %}
                                        <span class="text-danger">{{ (stat.share_real * 100) | round(4) }}%</span> / {{ (stat.share * 100) | round(4) }}%</span>
                                    {% else %}
                                        {% if stat.share > 0 %}
                                            {{ (stat.share * 100) | round(4) }}%
                                        {% else %}
                                            {{ stat.share }}
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td scope="row">
                                    {% if stat.rewards != stat.rewards_real %}
                                        <span class="text-danger">{{  stat.rewards_real | round(4) }}</span> / {{ stat.rewards | round(4) }}
                                    {% else %}
                                        {{ stat.rewards | round(4) }}LSK
                                    {% endif %}
                                </td>
                                <td>
                                    {% if stat.missing_votes is not empty %}
                                        <i style="position: relative; top: 2px; font-size: 1.4em;" data-pt-title=".missing-votes-tooltip-{{ stat.delegate }}" data-pt-position="bottom-left" data-pt-interactive="true" data-pt-width="1000" data-pt-classes="download-tooltip" class="protip text-danger pull-right fa fa-exclamation-triangle" aria-hidden="true"></i>
                                        <div class="missing-votes-tooltip-{{ stat.delegate }}" hidden>
                                            <div class="markdown-body">
                                                <h3>You are missing votes for this pool.</h3>
                                                <hr />
                                                {% if "Lisk Elite" in stat.pools or "Lisk Elite Sponsored" in stat.pools or "GDT" in stat.pools or "GDT Sponsored" in stat.pools %}
                                                    <p>You will not receive a payout unless you have voted for all members listed below:</p>
                                                {% elseif "SHW" in stat.pools %}
                                                    <p>You are getting a 45% payout penalty for not voting all the members in this pool. If you want to remove this penalty, vote for:</p>
                                                {% endif %}
                                                <em>
                                                    {{ stat.missing_votes | join(', ') }}
                                                </em>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if "Lisk Elite" in stat.pools or "Lisk Elite Sponsored" in stat.pools %}
                                        <i style="position: relative; top: 0px; font-size: 1.6em;" data-pt-title=".elite-required-verification-{{ stat.delegate }}" data-pt-position="bottom-left" data-pt-interactive="true" data-pt-width="1000" data-pt-classes="info-tooltip download-tooltip--css" class="protip text-info pull-right fa fa-info-circle" aria-hidden="true"></i>
                                        <div class="elite-required-verification-{{ stat.delegate }}" hidden>
                                            <div class="markdown-body">
                                                <h3>This pool requires verification</h3>
                                                <hr />
                                                <p>You will not receive a payout until you have verified your address. <a href="https://liskelite.com/voter" target="_blank">Verify your address on LiskElite.com</a></p>
                                            </div>
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot style="border-top: 2px solid black;">
                        <tr>
                            <td colspan="5"><strong>Total share per month</strong></td>
                            <td><strong>{{ totalRewards }} LSK</strong></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="tab-pane" id="ideal" role="tabpanel">

                    {% if idealForgeStats is not empty %}
                        <h3 class="mt-5">Ideal situation</h3>
                        <p>
                            To calculate the ideal situation, the situation where the current rank of a delegate is not taken into account is calculated. It does however take pool requirements into account where pools are required to vote all their members.
                        </p>
                        <p>
                            To keep profit share calculation fair, for delegates that are not in the top 101, the share is calculated as if that delegate would occupy the 101st position.
                        </p>

                        <table class="table table-striped table-bordered">
                            <tr>
                                <td style="width: 15%;">
                                    Required votes
                                </td>
                                <td style="width: 85%;">
                                    {{ idealVotes.vote | length + idealVotes.unvote | length }} (requires {{ ((idealVotes.vote | length + idealVotes.unvote | length) / 33) | round(0, 'ceil') }} voting round(s))
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Unvote
                                </td>
                                <td>
                                    {% if idealVotes.unvote | length > 0 %}
                                        <strong>To get to the ideal situation, you should unvote:</strong><br />
                                        <em>{{ idealVotes.unvote | join(', ') }}</em>
                                    {% else %}
                                        You do not need to unvote anyone to get to the ideal situation.
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Vote
                                </td>
                                <td>
                                    {% if idealVotes.vote | length > 0 %}
                                        <strong>To get to the ideal situation, you should vote:</strong><br />
                                        <em>{{ idealVotes.vote | join(', ') }}</em>
                                    {% else %}
                                        You do not have to vote anyone to get to the ideal situation.
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Automatic voting
                                </td>
                                <td>
                                    Want to vote easily? If you have Lisk Nano installed, clicking on the button below will allow you to automatically (un)vote delegates with a maximum of 33 (un)votes per round. Use the button(s) below to vote.<br />
                                    {% for round in idealVotes.rounds %}
                                    <button type="button" data-vote="{{ round.vote | join(',') }}" data-unvote="{{ round.unvote | join(',') }}" class="liskVote btn btn-success">Round {{ loop.index }}</button>
                                    {% endfor %}<br />
                                    <em>Don't hesitate to click on the buttons, your votes will always require confirmation in the Lisk Nano app first!</em>
                                </td>
                            </tr>
                        </table>

                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Voted</th>
                                <th scope="col">Delegate</th>
                                <th scope="col">Rank</th>
                                <th scope="col">Pools</th>
                                <th scope="col">Vote share</th>
                                <th scope="col">Monthly rewards</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for stat in idealForgeStats %}
                                <tr>
                                    <td scope="row">{{ loop.index }}</td>
                                    <td scope="row">
                                        <label class="custom-control custom-checkbox">
                                            <input disabled {% if stat.delegate in votedDelegates %}checked{% endif %} type="checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </td>
                                    <td scope="row">{{ stat.delegate }}</td>
                                    <td scope="row">{{ stat.rank }}</td>
                                    <td scope="row">{{ stat.pools | join(', ') }}</td>
                                    <td scope="row">{{ (stat.share * 100) | round(4) }}%</td>
                                    <td scope="row">{{ stat.rewards | round(4) }}LSK</td>
                                    <td scope="row"></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot style="border-top: 2px solid black;">
                            <tr>
                                <td colspan="5"><strong>Total share per month</strong></td>
                                <td><strong>{{ idealRewards }}LSK</strong></td>
                            </tr>
                            </tfoot>
                        </table>
                    {% endif %}
                </div>
            </div>
        {% endif %}

            {#
            {% if optimizedForgeStats is not empty %}
                <h3 class="mt-5">Optimized situation</h3>
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Voted</th>
                        <th scope="col">Delegate</th>
                        <th scope="col">Pool membership(s)</th>
                        <th scope="col">Rank</th>
                        <th scope="col">Your vote share</th>
                        <th scope="col">Rewards per month</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for stat in optimizedForgeStats %}
                        <tr>
                            <td scope="row">
                                <label class="custom-control custom-checkbox">
                                    <input disabled checked type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td scope="row">{{ stat.delegate }}</td>
                            <td scope="row">{{ stat.pools | join(', ') }}</td>
                            <td scope="row">{{ stat.rank }}</td>
                            <td scope="row">

                                        {{ stat.share }}
                            </td>
                            <td scope="row">

                                    {{ stat.rewards | round(4) }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            #}
    </div>

    <style type="text/css">
        .custom-checkbox {
            min-height: 1rem;
            padding-left: 0;
            margin-right: 0;
            cursor: pointer;
        }
        .custom-checkbox .custom-control-indicator {
            content: "";
            display: inline-block;
            position: relative;
            width: 30px;
            height: 10px;
            background-color: #818181;
            border-radius: 15px;
            margin-right: 10px;
            -webkit-transition: background .3s ease;
            transition: background .3s ease;
            vertical-align: middle;
            margin: 0 16px;
            box-shadow: none;
        }
        .custom-checkbox .custom-control-indicator:after {
            content: "";
            position: absolute;
            display: inline-block;
            width: 18px;
            height: 18px;
            background-color: #f1f1f1;
            border-radius: 21px;
            box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
            left: -2px;
            top: -4px;
            -webkit-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
            transition: left .3s ease, background .3s ease, box-shadow .1s ease;
        }
        .custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {
            background-color: #84c7c1;
            background-image: none;
            box-shadow: none !important;
        }
        .custom-checkbox .custom-control-input:checked ~ .custom-control-indicator:after {
            background-color: #84c7c1;
            left: 15px;
        }
        .custom-checkbox .custom-control-input:focus ~ .custom-control-indicator {
            box-shadow: none !important;
        }

        .table td {
            vertical-align: middle;
        }

        .info-tooltip {
            background: #d9edf7 !important;
            color: #000 !important;
        }
        .info-tooltip .protip-arrow {
            border-color: #d9edf7 !important;
        }
    </style>
{% endblock %}
